<div id="message-<%= message.id %>"
<% if message.user == current_user %>
  class="message rounded-4 bg-primary-dark text-end p-2 m-2"
<% else %>
  class="message rounded-4 bg-primary-darker p-2 m-2"
<% end %>
>
  <small>
    <%if message.user == current_user %>
      <strong class='text-dark'>Tú</strong>
      <i class='text-dark'><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      <p class='text-dark'><%= message.content %></p>
    <%else%>
      <% user_name = message.user.nickname.nil? ? message.user.email.split('@').first : message.user.nickname%>
      <strong><%= user_name %></strong>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      <p><%= message.content %></p>
    <%end%>
  </small>

</div>
