<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">Sign up</h3>
        </div>
        <%= simple_form_for User.new, url: create_user_path, method: :post do |f| %>
          <div class="card-body">
              <%= f.error_notification %>
              <div class="mb-3">
                <%= f.input :nickname,
                            required: true,
                            label: "Nickname",
                            input_html: { class: "form-control", autocomplete: "nickname" } %>
              </div>
              <div class="mb-3">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            label: "Email",
                            input_html: { class: "form-control", autocomplete: "email" } %>
              </div>
               <div class="mb-3">
              <%= f.label :preferences, "Preferencias", class: "form-label" %>
              <br>
              <%= f.collection_check_boxes :preference_ids, Category.all.order(:name), :id, :name do |b| %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.label class: "form-check-label" %>
                <br>
              <% end %>
            </div>
                <div class="mb-3">
                <%= f.input :address,
                            required: true,
                            label: "Dirección",
                            input_html: { class: "form-control" } %>
                </div>
              <div class="mb-3">
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            label: "Password",
                            input_html: { class: "form-control", autocomplete: "new-password" } %>
              </div>
              <div class="mb-3">
                <%= f.input :password_confirmation,
                            required: true,
                            label: "Confirm Password",
                            input_html: { class: "form-control", autocomplete: "new-password" } %>
              </div>
          </div>
          <div class="card-footer bg-light">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
