<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "row g-3 align-items-center" } do |f|
  %>
    <div class="col m-0 p-0">
      <%= f.input :content,
        label: false,
        placeholder: "Message",
        class: "form-control"
      %>
    </div>
    <div class="col-auto m-0 p-0">
      <%= f.submit "Send", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
