<div class="container chatroom bg-primary"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <p class="text-center pt-3"><strong> Bienvenido a tu chat con <%= @chatroom.participants.inspect %></strong></p>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "row mt-3 g-3 justify-content-center" } do |f|
  %>
    <div class="col-9 m-0 p-0">
      <%= f.input :content,
        label: false,
        placeholder: "Message",
        input_html: {class: "rounded-3 form-control bg-primary-dark m-0"}
      %>
    </div>
    <div class="col-auto m-0 p-0">
      <%= f.submit "Send", class: "btn btn-secondary" %>
    </div>
  <% end %>

</div>
