<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0 text-dark">Perfil de Usuario</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p class="lead"><strong>Nombre:</strong> <%= @user.nickname %></p>
              <p class="lead"><strong>Email:</strong> <%= @user.email %></p>
              <p class="lead"><strong>Rating: <%= @rating.nil? ? 'Sin reseñas' : @rating %> <i class="fa-solid fa-star"></i></strong></p>
              <p class="lead"><strong>Ubicación:</strong> <%= @user.address %></p>
              <p class="lead"><strong>Preferencias:</strong></p>
              <% preferences = current_user.preferences %>
              <% if preferences.present? %>
                <% preferences.each do |preference| %>
                  <div class="d-flex justify-content-between align-items-center bg-pink mb-2">
                    <p class="mb-0 mx-4 p-2"><%= preference.category.name %></p>
                  </div>
                <% end %>
              <% else %>
                <p class="mb-0">Ninguna</p>
              <% end %>
            </div>
            <div class="col-md-6 mb-3 px-4">
              <% if @user.photo.present? %>
                <%= cl_image_tag @user.photo.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded" %>
              <% else %>
                <p class="mb-0">No hay foto disponible</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'deals/show_reviews', reviews: @reviews, reviewed_user: @user %>
<%= render 'items/my_items', items: @user.items %>
