<div class="footer mobile-only p-0 m-0 text-secondary">
  <div class="footer-links w-100 h-100 d-flex align-items-center justify-content-around">
    <%= link_to deals_path, class: 'footer-link' do %>
      <div class="text-secondary">
        <i class="w-100 text-center fa-solid fa-rotate"></i>
        <% if !user_signed_in? || current_user.received_offers.where(status: 'pending').empty? %>
          <p class="m-0 fs-6 text-center">Mis trueques</p>
        <% else %>
          <p class="m-0 fs-6 text-center">Mis trueques <i class="fa-solid fa-bell"></i></p>
        <% end %>
      </div>
    <% end %>
        <%= link_to chatrooms_path, class: 'footer-link' do %>
          <div class="text-secondary">
            <i class="w-100 text-center fa-solid fa-message"></i>
            <% if !user_signed_in? || !Message.where.not(user: current_user).where(read: false, chatroom: current_user.chatrooms).any? %>
              <p class="m-0 fs-6 text-center">Chats <i class="fa-solid fa-envelope-open"></i></p>
            <% else %>
              <p class="m-0 fs-6 text-center">Chats <i class="fa-regular fa-envelope"></i></p>
            <% end %>
            </div class="text-secondary">
          <% end %>
          <%= link_to new_item_path, class: 'footer-link' do %>
          <div class="text-secondary">
            <i class="w-100 fs-1 text-center fa-solid fa-circle-plus"></i>
          </div>
        <% end %>
        <%= link_to items_path, class: 'footer-link' do %>
          <div class="text-secondary">
            <i class="w-100 text-center fa-solid fa-globe"></i>
            <p class="m-0 fs-6 text-center">Explora</p>
          </div>
        <% end %>
        <%= link_to myitems_path, class: 'footer-link' do %>
          <div class="text-secondary">
            <i class="w-100 text-center fa-solid fa-rectangle-list"></i>
            <p class="m-0 fs-6 text-center">Mis ofertas</p>
          </div>
        <% end %>
      </div>
    </div>


<div class="footer bg-primary-light border-top desktop-only mt-4">
  <div class="footer-copyright">
   <p><em>© 2024 Loop</em></p>
   <a href="#">Términos de uso -</a>
   <a href="#">Privacidad</a>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
