<div class="navbar navbar-expand-sm navbar-light sticky-top p-0">
  <div class="d-flex flex-column w-100">
  <div class="w-100 d-flex justify-content-between bg-primary-light p-2 pt-4">
      <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "Loop.png", class: "me-3" %>
      <% end %>
    <% unless current_page? root_path %>
      <div class="wrapper desktop-only">
        <div class="search">
          <%= render "shared/search" %>
        </div>
      </div>
    <% end %>

    <ul class="navbar-nav">
      <li class="nav-item d-none d-md-block">
        <% if user_signed_in? %>
          <p class="mx-2"><strong><%= current_user.nickname %></strong></p>
        <% end %>
      </li>
      <li class="nav-item dropdown position-relative">
        <%= render "shared/navbar/avatar" %>
      </li>
    </ul>
  </div>
  <% unless current_page?(items_path) || current_page?(root_path) %>
    <%= link_to :back, class: 'h2 text-primary-darker' do %>
      <i class="fa-solid fa-arrow-left ps-3 pt-3"></i>
    <%end%>
  <%end%>
  </div>
</div>
