<div class="navbar shadow navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex justify-content-between align-items-center w-100 px-3">
    <div>
      <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "Loop.png", class: "me-3" %>
        <h3 class="mt-3 d-none d-md-block">LOOP</h3>
      <% end %>
    </div>


<div class="wrapper">
  <div class="search">
    <%= render "shared/search" %>
  </div>
</div>
    <ul class="navbar-nav">
      <li class="nav-item d-none d-md-block">
         <% if user_signed_in? %>
         <p class= "mt-3 mx-2"><%= current_user.nickname %> </p>
         <% end %>
      </li>



      <li class="nav-item dropdown position-relative">
        <%= image_tag "Loop.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="navbarDropdown">

          <% if user_signed_in? %>
            <%= link_to "chats", chatroom_path(Chatroom.first.id), class: "dropdown-item" %>
            <%= link_to "New item", new_item_path, class: "dropdown-item" %>
            <%= link_to "My offers", "#", class: "dropdown-item" %>
            <%= link_to "My deals", "#", class: "dropdown-item" %>
            <%= link_to "My items", "#", class: "dropdown-item" %>
            <%= link_to "Log out", "/users/sign_out", class: "dropdown-item", data: {turbo_method: :delete} %>
          <% else %>
            <%= link_to "Log in", "/users/sign_in", class: "dropdown-item" %>
            <%= link_to "Sign up", "/users/sign_up", class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
