<% aceptados = 0 %>
<% completados = 0 %>
<% cancelados = 0 %>



<% @deals.each do |deal| %>
  <% if deal.status == 'accepted' %>
    <% if aceptados == 0 %>
      <h4 class='text-center my-2'><strong>Pendientes</strong></h4>
    <% end %>
    <div class='d-flex justify-content-around border bg-background'>
      <%= render 'accepted_deals', deal: deal %>
      <%# agregar link para crear un chatroom %>
    </div>
    <% aceptados += 1 %>
  <% elsif deal.status == 'completed' %>
    <% if completados == 0 %>
      <h4 class='text-center my-2'><strong>Finalizados</strong></h4>
    <% end %>
    <%= render 'completed_deals', deal: deal %>
    <% completados += 1 %>
  <% elsif deal.status == 'cancelled' %>
    <% if cancelados == 0 %>
      <h4 class='text-center my-2'><strong>Cancelados</strong></h4>
    <% end %>
    <%= render 'cancelled_deals', deal: deal %>
    <% cancelados += 1 %>
  <% end %>
<% end %>
<br>
<h1>Ofertas:</h1>
<h4 class='text-center my-2'><strong>Enviadas:</strong></h4>
<% @offered_offers.each do |offer| %>
  <%= render 'sent_offers', offer: offer %>
<% end %>
<br>
<h4 class='text-center my-2'><strong>Recibidas</strong></h4>
<h6><strong>No dejes a las personas esperando, acepta, contraoferta o rechaza</strong></h6>
<% @received_offers.each do |offer| %>
  <%= render 'received_offers', offer: offer %>
<% end %>
