<% @deals.each do |deal| %>
  <% if deal.status == 'accepted' %>
    <h4><strong>Tus trueques pendientes</strong></h4>
    <%= render 'dealstatus', deal: deal %>
  <% elsif deal.status == 'completed' %>
    <h4><strong>Tus trueques completados</strong></h4>
    <%= render 'dealstatus', deal: deal %>
  <% else %>
    <h4><strong>Tus trueques cancelados</strong></h4>
    <%= render 'dealstatus', deal: deal %>
  <% end %>
<% end %>
<br>
<h4><strong>Tus ofertas que esperan respuesta:</strong></h4>
<% @my_offers.each do |offer| %>
  <div class='d-flex justify-content-around border'>
    <%# permite encontrar al usuario al que planteas un trueque %>
    <div>
      <p><strong>Ofreces a: </strong> <%= offer.item.user.email %></p>
      <%= offer.item.name %>
    </div>
    <div>
      <p><strong>Solicitas: </strong></p>
      <%= offer.item.name %>
    </div>
  </div>
<% end %>
<br>
<h4><strong>Ofertas recibidas</strong></h4>
<h6><strong>No dejes a las personas esperando, acepta, contraoferta o rechaza</strong></h6>
<% @received_offers.each do |offer| %>
  <div class='d-flex justify-content-around border'>
    <div>
      <p><strong><%= offer.item.user.email %></strong> esta interesado en: </p>
      <%= offer.item.name %>
    </div>
    <div>
      <p><strong>Te ofrece: </strong></p>
      <%= offer.item.name %>
    </div>
    <%= link_to 'acepta', deals_path, class: 'btn btn-book' %>
    <%# <%= link_to 'contraoferta', offer_path,(offer) class: 'btn btn-info' %>
    <button class='btn btn-danger'>rechaza</button>
</div>
<% end %>
