<%= link_to deal_path(deal), class: 'text-decoration-none', style: 'color: inherit;' do%>
  <p class='text-end p-2'><%= deal.created_at.strftime("%Y-%m-%d") %></p>
  <div class='d-flex justify-content-around border bg-background my-2 p-2'>
    <div>
      <p><%= deal.user_offerer.email %> <strong> ofrece: </strong></p>
      <%= deal.offered_item.name%>
      <% if deal.offered_item.photos.attached? %>
        <%= cl_image_tag deal.offered_item.photos.first.key, class: "d-block w-100 img-fluid", style: "height: 100px; width: 100%;" %>
      <% end %>
    </div>

    <div>
      <div>
        <i id='arrow' class="fa-solid fa-arrow-right m-0 p-2"></i>
      </div>
      <div>
        <i id='arrow' class="fa-solid fa-arrow-left"></i>
      </div>
    </div>

    <div>
      <p><%= deal.user_requested.email %> <strong> ofrece: </strong></p>
      <%= deal.requested_item.name%>
      <% if deal.requested_item.photos.attached? %>
        <%= cl_image_tag deal.requested_item.photos.first.key, class: "d-block w-100 img-fluid", style: "height: 100px; width: 100%;" %>
      <% end %>
    </div>
  </div>
<% end %>
