<% @deals.each do |deal| %>
  <% if deal.status == 'accepted' %>
    <h4><strong>Tus trueques pendientes</strong></h4>
    <%= render 'dealstatus', deal: deal %>
  <% elsif deal.status == 'completed' %>
    <h4><strong>Tus trueques completados</strong></h4>
    <%= render 'dealstatus', deal: deal %>
  <% else %>
    <h4><strong>Tus trueques cancelados</strong></h4>
    <%= render 'dealstatus', deal: deal %>
  <% end %>
<% end %>
<br>
<h4><strong>Tus ofertas que esperan respuesta:</strong></h4>
<% @my_offers.each do |offer| %>
  <div class='border'>
    <%# permite encontrar al usuario al que planteas un trueque %>
    <p><strong>Ofreces a: </strong> <%= Item.find(offer.requested_item_id).user.email %></p>
    <%= Item.find(offer.offered_item_id).name %>
    <p><strong>Solicitas: </strong></p>
    <%= Item.find(offer.requested_item_id).name %>
  </div>
<% end %>
<br>
<h4><strong>Ofertas recibidas</strong></h4>
<h6><strong>No dejes a las personas esperando, acepta, contraoferta o rechaza</strong></h6>
<% @received_offers.each do |offer| %>
  <div class='border'>
    <p><strong><%= User.find(offer.user_id).email %></strong> esta interesado en: </p>
    <%= Item.find(offer.requested_item_id).name %>
    <p><strong>Te ofrece: </strong></p>
    <%= Item.find(offer.offered_item_id).name %>
  </div>
<% end %>
