<h4 class='text-center my-2'><strong>Recibidas</strong></h4>
<h6><strong>No dejes a las personas esperando, acepta, contraoferta o rechaza</strong></h6>
<% @received_offers.each do |offer| %>
  <p class='text-end bg-background m-0 p-0'><%= offer.created_at.strftime("%Y-%m-%d") %></p>
  <%= link_to offer_path(offer), class: 'text-decoration-none', style: 'color: inherit;' do%>
  <div class='d-flex justify-content-around border bg-background p-2'>
      <div>
        <p><strong><%= offer.user_offerer.email %></strong> esta interesado en: </p>
        <%= offer.requested_item.name %>
        <% if offer.requested_item.photos.attached? %>
          <%= cl_image_tag offer.requested_item.photos.first.key, class: "d-block w-100 img-fluid", style: "height: 100px; width: 100%;" %>
        <% end %>
      </div>
      <div>
        <div>
          <i id='arrow' class="fa-solid fa-arrow-right m-0 p-2"></i>
        </div>
        <div>
          <i id='arrow' class="fa-solid fa-arrow-left"></i>
        </div>
      </div>
      <div>
        <p><strong>Te ofrece: </strong></p>
        <%= offer.offered_item.name %>
        <% if offer.offered_item.photos.attached? %>
          <%= cl_image_tag offer.offered_item.photos.first.key, class: "d-block w-100 img-fluid", style: "height: 100px; width: 100%;" %>
        <% end %>
      </div>
  </div>
  <% end %>
  <div class='d-flex justify-content-around border bg-background mb-2'>
        <div class="col-md-6">
          <%= simple_form_for(@deal) do |f| %>
          <%= f.hidden_field :offer_id, value: offer.id %>
          <div class="text-center">
            <%= f.button :submit, "Aceptar Oferta", class: 'btn btn-book my-2' %>
          </div>
          <% end %>
        </div>
        <%# agregar link para crear un chatroom %>
        <div><%= link_to 'Contraofertar via chat', class: 'btn btn-success' %></div>
        <div class="col-md-6">
        <%= simple_form_for(offer, url: reject_offer_path(offer), method: :patch) do |f| %>
          <div class="text-center">
            <%= f.button :submit, "Rechazar Oferta", class: 'btn btn-outline-danger my-2' %>
          </div>
        <% end %>
      </div>
    </div>
<% end %>
