<h1>Ofertas:</h1>
<h4 class='text-center my-2'><strong>Enviadas:</strong></h4>
<% @offered_offers.each do |offer| %>
  <div class='d-flex justify-content-around border bg-background my-3'>
    <%# permite encontrar al usuario al que planteas un trueque %>
    <div>
      <p><strong>Ofreces a: </strong> <%= offer.user_requested.email %></p>
      <%= offer.offered_item.name %>
    </div>
    <div>
      <p><strong>Solicitas: </strong></p>
      <%= offer.requested_item.name %>
    </div>
    <div>
      <div class="col-md-6">
          <%= simple_form_for(offer, url: reject_offer_path(offer), method: :patch) do |f| %>
          <div class="text-center">
          <%= f.button :submit, "Cancelar Oferta", class: 'btn btn-outline-danger my-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
