<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>My Deals</h1>
    <% if @my_deals.present? %>
      <% @my_deals.each do |deal| %>
      <%= deal.status %>
      <%= deal.offer.requested_item %>
      <%= deal.offer.requested_item.user %>
      <%= deal.offer.offered_item %>
      <%= deal.offer.offered_item.user %>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Home', root_path %>
</div>
