<% if @errors %>
  <% @errors.each do |error| %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% end %>
<% end %>
<div class="container mt-4">
  <div class="align-items-center mb-4">
    <h2>Trueques</h2>
    <div class="d-flex justify-content-center">
      <div style="width: fit-content;" class="all-cards d-flex gap-3 flex-wrap" style="width: 80vw;">
      <%= render 'cards', exchanges: @accepted_deals %>
      <%= render 'cards', exchanges: @received_offers %>
      <%= render 'cards', exchanges: @offered_offers %>
      </div>
    </div>
    <div data-controller='display'>
      <span>Historial (<%=@completed_deals.size + @canceled_deals.size%>):</span>
      <i class="fa-solid fa-circle-chevron-up" data-action='click->display#display' data-display-target='togglebtn'></i>
      <div class='d-none my-2 d-flex flex-wrap gap-3 w-100 justify-content-center' data-display-target='info'>
        <%= render 'cards', exchanges: @finished_deals %>
      </div>
    </div>
  </div>
</div>
