<%# This partial is used to create a new offer for a specific item %>
<%# requested_item is what the users access in the index and show %>
<%# offered_item is what the person that wants an exchange offers %>
<div class="col-md-6">
  <%= simple_form_for(@offer, url: offers_path, method: :post) do |f| %>
    <div class="form-group">
      <%= f.hidden_field :requested_item_id, value: @item.id %>
      <%= f.label :offered_item_id, "Ofrece un producto" %>
      <%= f.select :offered_item_id, options_for_select(current_user.items.where(hidden: false).pluck(:name, :id)), { prompt: "..." }, class: 'form-control bg-secondary-dark border-secondary-darker' %>
    </div>
    <%= f.button :submit, "Enviar Oferta", class: 'btn btn-primary mt-4 mb-1 d-block mx-auto' %>
  <% end %>
</div>
