
<div class="row justify-content-center">
  <div class="col-12 col-md-7 d-flex bg-primary p-0">
    <% if @offer.offered_item.photos.attached? %>
      <%= cl_image_tag @offer.offered_item.photos.first.key, id: "offered-img", class: "d-block w-100 img-fluid m-0 p-0" %>
    <% end %>
    <% if @offer.requested_item.photos.attached? %>
      <%= cl_image_tag @offer.requested_item.photos.first.key, id: "requested-img", class: "d-block w-100 img-fluid m-0 p-0" %>
    <% end %>
    </div>
    <div class="col-12 col-md-7 bg-primary">
    <p class="text-end"><i class="fa-solid fa-location-dot mx-2"></i><%= @offer.user_offerer.address %></p>
    <% reviewed_user_name = !@reviewed_user.nickname.nil? ? @reviewed_user.email.split('@').first : @reviewed_user.nickname %>
    <p class="text-end"><strong>Rating de <%= reviewed_user_name %>: <%= @rating.nil? ? 'Sin reseñas' : @rating %> <i class="fa-solid fa-star"></i></strong></p>
    <div class="bg-pink p-3 m-3">
      <%if !@offer.user_offerer.nickname.nil?%>
        <span><%= @offer.user_offerer.nickname %> ofrece <%= @offer.offered_item.name %></span>
      <%else%>
        <span><%= @offer.user_offerer.email.split("@").first %> ofrece <%= @offer.offered_item.name %></span>
      <%end%>
      <br>
      <%if !@offer.user_requested.nickname.nil?%>
        <span><%= @offer.user_requested.nickname %> ofrece <%= @offer.requested_item.name %></span>
      <%else%>
        <span><%= @offer.user_requested.email.split("@").first %> ofrece <%= @offer.requested_item.name %></span>
      <%end%>
    </div>
    <div class='d-flex justify-content-around p-3'>
      <div class="d-flex align-items-center">
        <% if @offer.user_offerer == current_user %>
          <%= render 'deals/cancel_offer', offer: @offer %>
        <% else %>
          <%= render 'deals/accept_offer', deal: @deal, offer: @offer %>
        <% end %>
      </div>
      <div class="d-flex align-items-center">
        <%= render 'items/chatroom', chatroom: @chatroom, user: @offer.users.reject { |user| user.id == current_user.id } %>
      </div>
    </div>
  </div>
</div>

<%= render 'deals/show_reviews', reviews: @reviews, reviewed_user: @reviewed_user %>
