<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card rounded-3 shadow mt-3">
        <div class="card-body bg-background">
          <%= simple_form_for(@item) do |f| %>
            <%= f.input :name, label: 'Nombre', class: 'form-control' %>
            <%= f.input :description, label: 'Descripción', class: 'form-control' %>
            <%= f.input :address, label: 'Dirección', class: 'form-control' %>
            <%= f.association :category, label: 'Categoría', class: 'form-select' %>
            <%= f.input :condition, as: :select, collection: ["excelente", "bueno", "regular", "aceptable"], label: 'Condición', class: 'form-select' %>
            <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'form-control' }, label: 'Fotos' %>
            <%= f.button :submit, @item.persisted? ? 'Actualizar' : 'Crear', class: 'btn btn-book my-2' %>
            <br>
            <div>
              <%= link_to 'Volver al inicio', items_path, class: 'btn btn-primary my-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
