

<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card rounded-3 shadowmt-3">
        <div class="card-body">
          <%= simple_form_for(@item) do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%#= f.association :category, as: :select, collection: Category.all %>
            <%= f.input :condition, as: :select, collection: ["excellent", "good", "fair", "acceptable"] %>
            <%# <%= f.input :photos, as: :file, input_html: { multiple: true }, label: @item.photos.empty? ? 'Photos' : "Current: #{@item.photos.map{ |p| p.filename.to_s }.join(', ')}"  %> 
            <%= f.button :submit %>
            <br>
            <div>
              <%= link_to 'Back to home', root_path, class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
