<%# This partial is used to create a new offer for a specific item %>
<%# requested_item is what the users access in the index and show %>
<%# offered_item is what the person that wants an exchange offers %>
    <div class="col-md-6">
      <%= simple_form_for(@offer) do |f| %>
        <%= f.hidden_field :requested_item_id, value: @item.id %>
        <div class="form-group">
          <%= f.label :item_id, "Ofrece un producto" %>
          <%= f.select :item_id, options_for_select(current_user.items.pluck(:name, :id)), { prompt: "..." }, class: 'form-control' %>
        </div>
        <div class="text-center">
          <%= f.button :submit, "Enviar Oferta", class: 'btn btn-book my-2' %>
        </div>
      <% end %>
    </div>
