<div class="container my-3">
  <h1>Mis Productos</h1>
  <%= link_to "Agregar Producto", new_item_path, class: "btn btn-book"%>
  <div class="row mt-3">
    <% @items.each do |item| %>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <%= link_to item_path(item), class: 'text-decoration-none', style: 'color: inherit;' do %>
            <div class="card-body bg-background">
              <div class="d-flex justify-content-around border bg-pink">
                <div style="height: 100%; width: 100px;">
                  <%= cl_image_tag item.photos.first.key, class: "img-fluid h-100 w-100", style: "object-fit: cover;" %>
                </div>
                <div class="mx-3">
                  <p><strong>Producto: </strong><%= item.name %></p>
                  <p><strong>Categoría: </strong><%= item.category.name %></p>
                  <p><strong>Descripción: </strong><%= item.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class='m-5 p-5 text-center'>
  <div class='border-purple p-5'>
    <%= image_tag "Loop.png", class: "mb-3", style: "max-width: 200px;" %>
    <div class='mt-5'><%= raw app_qr_code_url %></div>
  </div>
</div>
